.container{
  width: 960px;
  margin: 0 auto;
  /* border: 1px solid grey; */
}


/* main page */

.main-page{
  text-align: center;
  font-size: 25px;
  width: 600px;
  margin: 0 auto;
  margin-top: 20%;
  border: 1px solid grey;
  box-shadow:10px 10px 5px 0px rgba(0,0,0,0.75);
}

.btn-group{
  display: flex;
  justify-content: space-around;
}




/* Profile create */

.profile-form{
  width:750px;
  margin: 0 auto;
  border:1px solid black;
}

.form-control,.form-action{
  width: 100%;
  padding: 10px;
  /* border:1px solid black; */
  width: 300px;
  margin: 0 auto;
  /* text-align: center; */
}
input{
  width: 100%;
  padding: 12px 8px;
}

input[type="submit"]{
  cursor: pointer;
}
label{
  padding-bottom: 7px;
  display: inline-block;
}